services:
  postgres:
    image: "postgres:latest"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=mysecretpassword
      - POSTGRES_DB=postgres
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 10
  redis:
    image: "redis:latest"
  nginx:
    restart: always
    build:
      dockerfile: Dockerfile.dev
      context: ./nginx
    ports:
      - "5555:80"
  api:
    build:
      dockerfile: Dockerfile.dev
      context: ./server
    # depends_on:
    #   postgres:
    #     condition: service_healthy
    volumes:
      - /app/node_modules  # to prevent overwriting node_modules
      - ./server:/app # mounting local server code to /app in container
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - PGUSER=postgres
      - PGHOST=postgres
      - PGDATABASE=postgres
      - PGPASSWORD=mysecretpassword
      - PGPORT=5432
  client:
    stdin_open: true
    build:
      dockerfile: Dockerfile.dev
      context: ./client
    volumes:
      - /app/node_modules  # to prevent overwriting node_modules
      - ./client:/app # mounting local client code to /app in container, so changes reflect immediately(creates relative path),(creates relationship between local and container)
  worker:
    build:
      dockerfile: Dockerfile.dev
      context: ./worker
    volumes:
      - /app/node_modules  # to prevent overwriting node_modules
      - ./worker:/app # mounting local worker code to /app in container
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
